.jumbotron {
  color: white;
  // background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/95/025625b92764f90.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
}
